@media (min-width: 768px) {
    body{
        background-color: rgb(245, 245, 245);
        font-size:large;
    }
}

@media (max-width: 768px) {
    body{
        background-color: rgb(255, 255, 255);
    }
}
section{
    color: rgb(163, 159, 161);
    margin: 20px;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
    font-style:normal;
    font-size: 20px;
    background-color: rgb(62, 58, 60);
}
h1{
    text-align: center;
    color: rgb(0, 0, 0)
}
body{
    color:rgb(255, 255, 255)
}
h2{
    color:rgb(255, 255, 255)
}
p{
    color:rgb(255, 253, 253)
}
h5{
    text-align: center;
}
a{
    color: white;
}
